<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<target
				 xsi:type="Console"
				 name="console"
				 layout="${longdate}|${level:uppercase=true}|${logger}|${message}" 
				 />
		
		<target name="file" xsi:type="File"
				layout="${longdate} ${logger} ${message}${exception:format=ToString}"
				fileName="${basedir}/logs/logfile.txt"
				keepFileOpen="true"
				encoding="utf-8" />
		<target 
				name="logfile" 
				xsi:type="File"
				fileName=".\logs\${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
		
		<target 
				name="errorfile" 
				xsi:type="File" 
				fileName="errorfile.txt" 
				layout="`${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}`" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Error" writeTo="console" />
		<logger name="*" minlevel="Warning" writeTo="file" />
		<logger name="*" minlevel="Error" writeTo="errorfile" />
		<logger name="*" minlevel="Debug" writeTo="errorfile" />
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>