@import 'mixin';
// Bootstrap Customizations

$primary: #EF3636;
$primary_hover: #D93131;
$info: #5296d6;
$secondary: #252525;
$transition: all .2s linear;

@import "~bootstrap/scss/bootstrap";
// Bootstrap Customizations

body {
    font-family: $font-family;

    p {
        margin: 0;
    }

    a {
        path {
            transition: $transition
        }

        &:hover {
            svg {
                path {
                    fill: $primary
                }
            }
        }
    }

}

// HEADER

.logo {
    .logo-text {
        letter-spacing: 20px;
    }
}

.navbar-nav {
    .nav-link {
        color: #000;

        svg {
            transition: $transition;

            path {
                transition: $transition
            }
        }

        &:hover {
            color: $primary;

            svg {
                path {
                    fill: $primary;
                }
            }
        }
    }

    .dropdown-item {
        color: #000;
        transition: $transition;

        &:hover {
            color: $primary;
        }
    }
}

.favorites {
    position: relative;

    .favorites-amount {
        position: absolute;
        @include center;
        top: -5px;
        right: -5px;
        width: 15px;
        height: 16px;
        font-size: 12px;
        color: #fff;
        border-radius: 100%;
        background-color: $primary;
    }
}

.cart {
    position: relative;

    .cart-amount {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 15px;
        height: 16px;
        font-size: 12px;
        color: #fff;
        @include center;
        border-radius: 100%;
        background-color: $primary;
    }
}


// HEADER

// CAROUSEL
.carousel {
    .carousel-indicators {
        button {
            width: 15px;
            height: 15px;
            border-radius: 100%;
        }
    }

    .carousel-item {

        img {
            height: 800px;
            object-fit: cover;
        }
    }

    .carousel-caption {
        position: absolute;
        margin: 0;
        color: white;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%, -50%);

        @media screen and (max-width:1199px) {
            left: 50%;
        }

        h3 {
            @include heading-type-5;

            @media screen and (max-width:1199px) {
                @include heading-type-3;
            }
        }

        p {
            @include text-type-2;
        }
    }

}

// CAROUSEL

//BANNER



.banner-row {
    .banner {
        z-index: 2;

        .banner-item {
            overflow: hidden;
            position: relative;

            img {
                transition: all .5s ease-out;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }

                .title {
                    background-color: #000;
                }
            }

            .banner-content {
                position: absolute;
                top: 0;
                left: 0;
                @include center;
                flex-direction: column;
                width: 100%;
                height: 100%;

                a {
                    font-size: 14px;
                    font-weight: 600;
                }

                .campaign {
                    font-size: 13px;
                    color: #f9b74a;
                }

                .title {
                    transition: all 1s ease-out;
                }
            }
        }
    }
}

.margin-top-100 {
    margin-top: -100px;
}


@media screen and (max-width: 1199px) {
    .banner-row {

        .banner {
            margin-top: -100px;
        }
    }

    .margin-top-100 {
        margin-top: -200px;
    }
}

//BANNER

//BRANDS

.brands {
    .brand-image {
        img {
            transition: $transition
        }

        &:hover {
            img {
                filter: opacity(50%);
            }
        }
    }
}

//BRANDS

//GALLERY

.gallery {
    .gallery-image {
        height: 340px;

        img {
            width: 340px;
            height: auto;
            transition: $transition
        }

        &:hover {
            img {
                filter: brightness(50%)
            }
        }
    }
}

//GALLERY

//FEATURES

.features {
    background-color: $secondary;

    p {
        font-size: 20px;
        font-weight: 700;
    }

    .icon {
        svg {
            path {
                fill: $primary;
            }
        }

        padding: 10px;
        border-radius: 100%;
        border: $primary 3px solid;
    }
}

//FEATURES

.showcase {

    &:hover {
        .showcase-buttons {
            a {
                opacity: 1;
            }
        }

        .showcase-image {
            img {
                transform: scale(1.05);
            }
        }
    }

    .showcase-image {
        overflow: hidden;

        img {
            transition: all .2s ease-out;
        }
    }

    .showcase-content {
        a {
            border: #000 1px solid;
            background-color: transparent;

            &:hover {
                color: #fff;
                background-color: $secondary;
            }
        }
    }

    .showcase-buttons {
        position: absolute;
        top: 10px;
        left: 10px;

        a {
            &:hover {
                svg {
                    fill: $primary;
                }
            }

            opacity: 0;
            @include center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            background-color: #fff;
            transition: $transition
        }
    }

}

//LOGIN

.page-title {

    height: 125px;
    @include center;
    font-size: 35px;
    font-weight: 300;
}

.login-page {
    input {
        padding: 10px;
    }

    .login-form {
        width: 400px;
    }

    .register-form {
        width: 400px;
    }
}

//LOGIN

//FOOTER

.footer {

    background-color: $secondary;

}

//FOOTER

//LODAER
.loader-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: #2B3134;
    color: #777;

    .loader {
        margin: 0 0 2em;
        text-align: center;
        padding: 1em;
        margin: 0 auto 1em;
        display: inline-block;
        vertical-align: top;
    }

    /*
        Set the color of the icon
      */
    svg path,
    svg rect {
        fill: $primary;
    }
}

//LODAER

//ADMİN

.admin {
    min-height: 500px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    .admin-header {
        a {
            // box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            transition: $transition;

            &:hover {
                background-color: $light;
            }
        }
    }

    .active {
        font-weight: 500;
        border: none;
        border: #b0b0b0 1px solid;
        background-color: $light;
    }
}

//ADMIN PRODUCT

.file-input {

    input[type=file]::file-selector-button {
        background-color: #fff;
        color: #000;
        border: 0px;
        border-right: 1px solid #e5e5e5;
        padding: 10px 15px;
        margin-right: 20px;
        transition: $transition
    }

    input[type=file]::file-selector-button:hover {
        background-color: #eee;
        border: 0px;
        border-right: 1px solid #e5e5e5;
    }
}


//ADMIN PRODUCT

//ADMIN

//CART SIDEBAR


.cart-sidebar {
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100vh;
    z-index: 2001;
    transition: all .5s linear;
}

.cart-sidebar.active {
    right: 0;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    filter: opacity(50%);
    z-index: 2000;
}

.sidebar.active {
    display: flex;
}

.product-content {
    transition: all .5s linear;

    &:hover {
        .cart-delete-button {
            display: block;
            transition: all .5s linear;
        }
    }

    .cart-delete-button {
        display: none;
        margin-right: 10px;
        transition: all .5s linear;

    }

}

//CART SIDEBAR

//ABOUT

.about-card {
    transition: $transition;

    &:hover {
        transform: scale(1.05);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
}

//ABOUT

//USER MANAGEMENT

.user-management {
    .checkbox {
        left: 35px;
        display: flex;
        align-items: center;
        position: relative;
        width: 75px;
        height: 35px;
        cursor: pointer;
        background-color: $light;
        border: #3a4b39 1px solid;
        border-radius: 50px;

        &:hover {
            
            .dot {
                left: 45px;
                right: 3px;
                background-color: #34b93b;
            }

            .dot.active {
                left: 3px;
                right: 45px;
                background-color: $primary;
            }
        }

        .dot {
            position: absolute;
            left: 3px;
            right: 45px;
            width: 25px;
            height: 25px;
            border: none;
            border-radius: 100%;
            background-color: $primary;
            transition: $transition;
        }

        .dot.active {
            position: absolute;
            left: 45px;
            right: 3px;
            width: 25px;
            height: 25px;
            border:none;
            border-radius: 100%;
            background-color: #34b93b;
            transition: $transition;
        }
    }
}

//USER MANAGEMENT