@import 'mixin';
// Bootstrap Customizations

$primary: #EF3636;
$primary_hover: #D93131;
$secondary: #252525;

@import "~bootstrap/scss/bootstrap";
// Bootstrap Customizations

body {
    p {
        margin: 0;
    }
}

// HEADER

.navbar-nav {
    .nav-link {
        color: #000;

        &:hover {
            color: #EF3636;
        }
    }

    .dropdown-item {
        color: #000;

        &:hover {
            color: #EF3636;
        }
    }
}

.favorites {
    position: relative;

    .favorites-amount {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 15px;
        height: 15px;
        font-size: 12px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: #EF3636;
    }
}

.cart {
    position: relative;

    .cart-amount {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 15px;
        height: 15px;
        font-size: 12px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: #EF3636;
    }
}

a {
    &:hover {
        svg {
            fill: #EF3636;
        }
    }
}

// HEADER

// CAROUSEL
.carousel {
    .carousel-indicators {
        button {
            width: 15px;
            height: 15px;
            border-radius: 100%;
        }
    }

    .carousel-item {

        img {
            height: 800px;
            object-fit: cover;
        }
    }

    .carousel-caption {
        position: absolute;
        margin: 0;
        color: white;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%, -50%);

        @media screen and (max-width:1199px) {
            left: 50%;
        }

        h3 {
            @include heading-type-5;

            @media screen and (max-width:1199px) {
                @include heading-type-3;
            }
        }

        p {
            @include text-type-2;
        }
    }

}

// CAROUSEL

//BANNER



.banner-row {
    .banner {
        z-index: 2;

        .banner-item {
            overflow: hidden;
            position: relative;

            img {
                transition: all .5s ease-out;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }

                .title {
                    background-color: #000;
                }
            }

            .banner-content {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;

                button {
                    font-size: 14px;
                    font-weight: 700;
                    border-radius: 5px;
                }

                .campaign {
                    font-size: 13px;
                    border-radius: 5px;
                    color: #f9b74a;
                }

                .title {
                    transition: all 1s ease-out;
                }
            }
        }
    }
}

.margin-top-100 {
    margin-top: -100px;
}


@media screen and (max-width: 1199px) {
    .banner-row {

        .banner {
            margin-top: -100px;
        }
    }

    .margin-top-100 {
        margin-top: -200px;
    }
}

//BANNER

//BRANDS

.brands {
    .brand-image {
        img {
            transition: all .2s linear;
        }

        &:hover {
            img {
                filter: opacity(50%);
            }
        }
    }
}

//BRANDS

//GALLERY

.gallery {
    .gallery-image {
        height: 320px;
        object-fit: contain;
        overflow: hidden;

        img {
            transition: all .2s linear;
        }

        &:hover {
            img {
                filter: brightness(50%)
            }
        }
    }
}

//GALLERY

//FEATURES

.features {
    background-color: $secondary;

    p {
        font-size: 20px;
        font-weight: 700;
    }

    .icon {
        svg {
            path {
                fill: $primary;
            }
        }

        padding: 10px;
        border-radius: 100%;
        border: $primary 3px solid;
    }
}

//FEATURES

.showcase {
    .showcase-image {
        overflow: hidden;

        img {
            transition: all .2s ease-out;
        }
    }

    &:hover {
        .showcase-image {
            img {
                transform: scale(1.05);
            }
        }
    }

    .showcase-content {
        button {
            background-color: #000;
            border-radius: 5px;

            &:hover {
                background-color: $primary;
            }
        }
    }

}

//LOGIN

.page-title {

    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 300;
}

.login-page {
    input {
        padding: 10px;
    }

    .login-form {
        width: 400px;
    }

    .register-form {
        width: 400px;
    }
}

//LOGIN

//MODAL
.modal-button {
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

//MODAL

//FOOTER

.footer {
    .footer-top {
        background-color: $secondary;
    }

    .footer-bottom {
        background-color: $secondary;
    }
}

//FOOTER

//LODAER
.loader-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: #2B3134;
    color: #777;

    .loader {
        margin: 0 0 2em;
        text-align: center;
        padding: 1em;
        margin: 0 auto 1em;
        display: inline-block;
        vertical-align: top;
    }

    /*
        Set the color of the icon
      */
    svg path,
    svg rect {
        fill: $primary;
    }
}

//LODAER